<!--suppress JSUnusedGlobalSymbols -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="row">
  <mat-card>
    <mat-card-header style="background-color: blue">
      <h1 class="card-title" style="color:white">Roster for Spring '23 Session</h1>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label >Type here to filter</mat-label>
        <input matInput (keyup)="applyFilter($event)">
      </mat-form-field>
      <div class="horiz-scroll">
        <table mat-table [dataSource]="dataSource" matSort matSortActive="fullName" matSortDirection="asc" matSortDisableClear>
          <ng-container matColumnDef="fullName" sticky>
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element["fullName"]}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Position</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element["position"]}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Jersey Number</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element["number"]}} </mat-cell>
            </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; let even = even; columns: displayedColumns" [ngClass]="{gray: even}"></mat-row>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
