.mat-button-toggle-group {
  height: 28px;
  align-items: center;
}

.make-green {
  background-color: green;
}

table th:nth-child(3) {
  text-align: right;
}

table td:nth-child(3) {
  text-align: right;
}



