<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="row">
  <div>
    <nav class="navbar navbar-expand-md">
      <div class="collapse navbar-collapse" id="navbarItems">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home"><fa-icon [icon]="homeIcon"></fa-icon></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/roster">Roster</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/schedule">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/results">Results</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/standings">Standings</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
