nav{
  float:left;
  width:100%;
}

nav ul{
  list-style-type:none;
  padding:0;
}

nav ul li{

}

nav ul li a{
  border:thin solid #fff;
  color: black;
  display:block;
  height:3em;
  line-height:3em;
  text-align:center;
  text-decoration:none;
  width:100%;
}

nav ul li a:hover{
  background-color: lightgray;
}

.menu-center {
  margin: auto;
}
