.gray { background-color: #f5f5f5 }

.highlighted {
  background-color: lightblue;
  color: white;
}

.make-bold {
  font-weight: bold;
}

.mat-header-cell-right {
  justify-content: right;
}

.mat-cell-right {
  justify-content: right;
}

