<mat-card>
  <mat-card-header style="background-color: blue">
    <h1 class="card-title" style="color:white">Standings for Spring '23 Session</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Type here to filter</mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
    <mat-table matSort matSortActive="points" matSortDirection="desc" matSortDisableClear [dataSource]="dataSource">
      <!--<ng-container [matColumnDef]="column.name" *ngFor="let column of initColumns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.display }}</th>
        <td mat-cell *matCellDef="let element">{{ element[column.name] }}</td>
      </ng-container>-->
      <ng-container matColumnDef="teamName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Team</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="{'make-bold': element.teamName==='Roadkill'}">{{element.teamName}}
<!--           <a [routerLink]="['/detail', element.id]">{{element.teamName}}</a> -->
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="matchesPlayed">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'mat-header-cell-center'">MP</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}">{{element.matchesPlayed}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="wins">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'mat-header-cell-center'">W</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}">{{element.wins}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="draws">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'mat-header-cell-center'">D</mat-header-cell>
          <mat-cell *matCellDef="let element" [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}">{{element.draws}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="losses">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'mat-header-cell-center'">L</mat-header-cell>
        <mat-cell *matCellDef="let element"  [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}"> {{element.losses}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="goalsScored">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'mat-header-cell-center'">GF</mat-header-cell>
        <mat-cell *matCellDef="let element"  [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}"> {{element.goalsScored}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="goalsConceded">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'mat-header-cell-center'">GA</mat-header-cell>
        <mat-cell *matCellDef="let element"  [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}"> {{element.goalsConceded}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="goalDiff">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'mat-header-cell-center'">GD</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="{'positive' : element.goalDiff > 0, 'negative' : element.goalDiff < 0, 'mat-cell-center':element}">
          {{element.goalDiff}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="points">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'mat-header-cell-center'">Pts</mat-header-cell>
        <mat-cell *matCellDef="let element"  [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}"> {{element.points}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="last5">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Last 5</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngFor="let results of element.lastFive">
            <span *ngIf="results==='+'" class="mat-icon-green"><mat-icon inline="true">check</mat-icon></span>
            <span *ngIf="results==='-'" class="mat-icon-gray"><mat-icon inline="true">remove</mat-icon></span>
            <span *ngIf="results==='x'" class="mat-icon-red"><mat-icon inline="true">clear</mat-icon></span>
          </span>
<!--          <span *ngFor="let results of element.lastFive">-->
<!--            <button *ngIf="results==='+'" class="win">{{results}}</button>-->
<!--            <button *ngIf="results==='-'" class="draw">{{results}}</button>-->
<!--            <button *ngIf="results==='x'" class="loss">{{results}}</button>-->
<!--          </span>-->
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even, 'highlighted': row.teamName==='Roadkill'}"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="pageSizes" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
<br>
<app-weekly-results></app-weekly-results>

<!--// Bootstrap version below...
<div class="row">
  <div class="row">
    <div class="card col-6">
      <div class="card-header" style="background-color: blue">
        <h5 class="card-title" style="color:white">Standings Spring '23 Session</h5>
      </div>
      <div class="card-body">
        <div>
          <table class="table table-striped" id="resultsTable">
            <thead>
            <th scope="row">Team</th>
            <th scope="col">Record</th>
            <th scope="col">Points</th>
            <th scope="col">Goals Scored</th>
            </thead>
            <tbody>
            &lt;!&ndash;<tr *ngFor="let result of results">
              <td>{{result.gameInfo.gameDate}}</td>
              <td>{{result.gameInfo.homeTeam}}</td>
              <td>{{result.gameInfo.awayTeam}}</td>
              <td>{{result.gameInfo.homeScore + " - " + result.gameInfo.awayScore}}</td>
            </tr>&ndash;&gt;
            </tbody>
          </table>
        </div>
      </div>
      &lt;!&ndash;<div class="card-footer">
        <button class="btn btn-secondary" id="backButton" (click)="goBack()">Back</button>
      </div>&ndash;&gt;
    </div>
  </div>
</div>-->





