<!--All teams version-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="main-div">
  <mat-card class="col-10">
    <div class="col-6">
      <form>
        <mat-form-field appearance="outline" style="color:white">
          <mat-select [(value)]="appService.selectedSessionValue" name="selectedSession" (selectionChange)="setSelectedSession($event.value)">
            <mat-option *ngFor="let session of appService.sessions" [value]="session.id">
              {{session.sessionName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="m-2 btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="1" autocomplete="off" checked (change)="setSelectedDivision($event)">
          <label class="btn btn-outline-success" for="btnradio1">Division 1</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="2" autocomplete="off" (change)="setSelectedDivision($event)">
          <label class="btn btn-outline-success" for="btnradio2">Division 2</label>
        </div>
<!--        <mat-radio-group aria-label="Select an option" (change)="setSelectedDivision($event.value)">-->
<!--          <mat-radio-button color="primary" value="1">Division 1</mat-radio-button>-->
<!--          <mat-radio-button color="primary" value="2" [checked]=true>Division 2</mat-radio-button>-->
<!--        </mat-radio-group>-->
      </form>
    </div>
    <mat-card-header style="background-color: darkgreen">
      <h1 class="card-title" style="color:white">Standings for {{appService.session}}: Division {{selectedDivisionValue}}</h1>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Type here to filter</mat-label>
        <input matInput (keyup)="applyFilter($event)">
      </mat-form-field>
      <div class="horiz-scroll">
        <table mat-table matSort matSortActive="points" matSortDirection="desc" matSortDisableClear id="standings-table-D1" [dataSource]="dataSource">
          <ng-container matColumnDef="index">
            <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;">{{i+1}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="teamName" sticky>
            <mat-header-cell *matHeaderCellDef>Team</mat-header-cell>
            <mat-cell *matCellDef="let element"><a [routerLink]="['/roster', element.id]">{{element.teamName}}</a></mat-cell>
          </ng-container>
          <ng-container matColumnDef="matchesPlayed">
            <mat-header-cell *matHeaderCellDef [ngClass]="'mat-header-cell-center'">MP</mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}">{{element.matchesPlayed}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="wins">
            <mat-header-cell *matHeaderCellDef [ngClass]="'mat-header-cell-center'">W</mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}">{{element.wins}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="draws">
            <mat-header-cell *matHeaderCellDef [ngClass]="'mat-header-cell-center'">D</mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}">{{element.draws}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="losses">
            <mat-header-cell *matHeaderCellDef [ngClass]="'mat-header-cell-center'">L</mat-header-cell>
            <mat-cell *matCellDef="let element"  [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}"> {{element.losses}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="goalsScored">
            <mat-header-cell *matHeaderCellDef [ngClass]="'mat-header-cell-center'">GF</mat-header-cell>
            <mat-cell *matCellDef="let element"  [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}"> {{element.goalsScored}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="goalsConceded">
            <mat-header-cell *matHeaderCellDef [ngClass]="'mat-header-cell-center'">GA</mat-header-cell>
            <mat-cell *matCellDef="let element"  [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}"> {{element.goalsConceded}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="goalDiff">
            <mat-header-cell *matHeaderCellDef [ngClass]="'mat-header-cell-center'">GD</mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{'positive' : element.goalDiff > 0, 'negative' : element.goalDiff < 0, 'mat-cell-center':element}">
              {{element.goalDiff}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="points">
            <mat-header-cell *matHeaderCellDef [ngClass]="'mat-header-cell-center'">Pts</mat-header-cell>
            <mat-cell *matCellDef="let element"  [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}"> {{element.points}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="form">
            <mat-header-cell *matHeaderCellDef>Form</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span *ngFor="let results of element.form">
                <span *ngIf="results==='+'" class="mat-icon-green"><mat-icon inline="true">check</mat-icon></span>
                <span *ngIf="results==='-'" class="mat-icon-gray"><mat-icon inline="true">remove</mat-icon></span>
                <span *ngIf="results==='x'" class="mat-icon-red"><mat-icon inline="true">clear</mat-icon></span>
              </span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
              No records found
            </mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="formKey">
            <td mat-footer-cell *matFooterCellDef>
              <div class="shadow bg-warning rounded float-end">
                <span class="float-start ms-1 me-1"><b>Form:</b></span>
                <span class="float-end me-1">Loss</span>
                <span class="mat-icon-red float-end ms-2"><mat-icon inline="true">clear</mat-icon></span>
                <span class="float-end">Draw</span>
                <span class="mat-icon-gray float-end ms-2"><mat-icon inline="true">remove</mat-icon></span>
                <span class="float-end">Win</span>
                <span class="mat-icon-green float-end"><mat-icon inline="true">check</mat-icon></span>
              </div>
            </td>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; let even = even; columns: displayedColumns; let i = index;" [ngClass]="{gray: even}"></mat-row>
          <mat-footer-row *matFooterRowDef="['noData']" [hidden]="dataSource && dataSource.data.length > 0"></mat-footer-row>
          <tr mat-footer-row *matFooterRowDef="['formKey']"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<app-weekly-results [selectedDivisionValue]="this.selectedDivisionValue" [selectedSessionValue]="this.appService.selectedSessionValue" *ngIf="dataSource && dataSource.data.length > 0"></app-weekly-results>

<!--&lt;!&ndash;Roadkill version&ndash;&gt;-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--<div class="main-div">-->
<!--  <mat-card class="col-10">-->
<!--    <mat-card-header style="background-color: darkblue">-->
<!--      <h1 class="card-title" style="color:white">Standings for Spring '23 Session</h1>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      <mat-form-field appearance="fill">-->
<!--        <mat-label>Type here to filter</mat-label>-->
<!--        <input matInput (keyup)="applyFilter($event)">-->
<!--      </mat-form-field>-->
<!--      <div class="horiz-scroll">-->
<!--        <table mat-table matSort matSortActive="points" matSortDirection="desc" matSortDisableClear id="standings-table" [dataSource]="dataSource">-->
<!--          <ng-container matColumnDef="teamName" sticky>-->
<!--            <mat-header-cell *matHeaderCellDef mat-sort-header>Team</mat-header-cell>-->
<!--            <mat-cell *matCellDef="let element" [ngClass]="{'make-bold': element.teamName==='Roadkill'}">-->
<!--              {{element.teamName}}-->
<!--            </mat-cell>-->
<!--          </ng-container>-->
<!--          <ng-container matColumnDef="matchesPlayed">-->
<!--            <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'mat-header-cell-center'">MP</mat-header-cell>-->
<!--            <mat-cell *matCellDef="let element" [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}">{{element.matchesPlayed}}</mat-cell>-->
<!--          </ng-container>-->
<!--          <ng-container matColumnDef="wins">-->
<!--          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'mat-header-cell-center'">W</mat-header-cell>-->
<!--          <mat-cell *matCellDef="let element" [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}">{{element.wins}}</mat-cell>-->
<!--          </ng-container>-->
<!--          <ng-container matColumnDef="draws">-->
<!--            <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'mat-header-cell-center'">D</mat-header-cell>-->
<!--              <mat-cell *matCellDef="let element" [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}">{{element.draws}}</mat-cell>-->
<!--          </ng-container>-->
<!--          <ng-container matColumnDef="losses">-->
<!--            <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'mat-header-cell-center'">L</mat-header-cell>-->
<!--            <mat-cell *matCellDef="let element"  [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}"> {{element.losses}} </mat-cell>-->
<!--          </ng-container>-->
<!--          <ng-container matColumnDef="goalsScored">-->
<!--            <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'mat-header-cell-center'">GF</mat-header-cell>-->
<!--            <mat-cell *matCellDef="let element"  [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}"> {{element.goalsScored}} </mat-cell>-->
<!--          </ng-container>-->
<!--          <ng-container matColumnDef="goalsConceded">-->
<!--            <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'mat-header-cell-center'">GA</mat-header-cell>-->
<!--            <mat-cell *matCellDef="let element"  [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}"> {{element.goalsConceded}} </mat-cell>-->
<!--          </ng-container>-->
<!--          <ng-container matColumnDef="goalDiff">-->
<!--            <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'mat-header-cell-center'">GD</mat-header-cell>-->
<!--            <mat-cell *matCellDef="let element" [ngClass]="{'positive' : element.goalDiff > 0, 'negative' : element.goalDiff < 0, 'mat-cell-center':element}">-->
<!--              {{element.goalDiff}}-->
<!--            </mat-cell>-->
<!--          </ng-container>-->
<!--          <ng-container matColumnDef="points">-->
<!--            <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'mat-header-cell-center'">Pts</mat-header-cell>-->
<!--            <mat-cell *matCellDef="let element"  [ngClass]="{'mat-cell-center': true, 'make-bold': element.teamName==='Roadkill'}"> {{element.points}} </mat-cell>-->
<!--          </ng-container>-->
<!--          <ng-container matColumnDef="last5">-->
<!--            <mat-header-cell *matHeaderCellDef mat-sort-header>Last 5</mat-header-cell>-->
<!--            <mat-cell *matCellDef="let element">-->
<!--              <span *ngFor="let results of element.lastFive">-->
<!--                <span *ngIf="results==='+'" class="mat-icon-green"><mat-icon inline="true">check</mat-icon></span>-->
<!--                <span *ngIf="results==='-'" class="mat-icon-gray"><mat-icon inline="true">remove</mat-icon></span>-->
<!--                <span *ngIf="results==='x'" class="mat-icon-red"><mat-icon inline="true">clear</mat-icon></span>-->
<!--              </span>-->
<!--            </mat-cell>-->
<!--          </ng-container>-->
<!--          <ng-container matColumnDef="last5Key">-->
<!--            <td mat-footer-cell *matFooterCellDef>-->
<!--              <div class="shadow bg-warning rounded float-end">-->
<!--                    <span class="float-start ms-1 me-1"><b>Last 5 Matches:</b></span>-->
<!--                    <span class="float-end me-1">Loss</span>-->
<!--                    <span class="mat-icon-red float-end ms-2"><mat-icon inline="true">clear</mat-icon></span>-->
<!--                    <span class="float-end">Draw</span>-->
<!--                    <span class="mat-icon-gray float-end ms-2"><mat-icon inline="true">remove</mat-icon></span>-->
<!--                    <span class="float-end">Win</span>-->
<!--                    <span class="mat-icon-green float-end"><mat-icon inline="true">check</mat-icon></span>-->
<!--              </div>-->
<!--            </td>-->
<!--          </ng-container>-->
<!--          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
<!--          <mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even, 'highlighted': row.teamName==='Roadkill'}"></mat-row>-->
<!--          <tr mat-footer-row *matFooterRowDef="['last5Key']"></tr>-->
<!--        </table>-->
<!--      </div>-->
<!--  &lt;!&ndash;    <mat-paginator [pageSizeOptions]="pageSizes" showFirstLastButtons></mat-paginator>&ndash;&gt;-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->
<!--<app-weekly-results></app-weekly-results>-->
