.gray {
  background-color: #f5f5f5
}

.positive {
  color: green;
  font-weight: bold;
}

.negative {
  color: red;
  font-weight: bold;
}

.win {
  background-color: green;
  color: white;
  font-family: monospace;
  font-weight: bold;
  border: 0;
  border-radius: 100%;
  margin-right: 2px;
}

.draw {
  background-color: gray;
  color: white;
  font-family: monospace;
  font-weight: bold;
  border: 0;
  border-radius: 100%;
  margin-right: 2px;
}

.loss {
  background-color: red;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 100%;
  margin-right: 2px;
}

.highlighted {
  background-color: lightblue;
  color: white;
}

.make-bold {
  font-weight: bold;
}
