@import '~bootstrap/dist/css/bootstrap.css'; /* You can add global styles to this file, and also import other style files */

.mat-header-cell-center {
  justify-content: center;
}

.mat-cell-center {
  justify-content: center;
}

.mat-header-cell-right {
  justify-content: right;
}

.mat-cell-right {
  justify-content: right;
}

.mat-icon-green {
  background-color: green;
  color: white;
  border-radius: 100%;
  font-size: 16px;
  display:flex;
  align-items: center;
  margin-right: 2px;
}

.mat-icon-gray {
  background-color: gray;
  color: white;
  border-radius: 100%;
  font-size: 16px;
  display:flex;
  align-items: center;
  margin-right: 2px;
}

.mat-icon-red {
  background-color: red;
  color: white;
  border-radius: 100%;
  font-size: 16px;
  display:flex;
  align-items: center;
  margin-right: 2px;
}

.gray {
  background-color: #f5f5f5
}

.make-green {
  background-color: green;
}

.make-red {
  background-color: red;
}

.make-gray {
  background-color: gray;
}

.make-white {
  color: white;
}

.make-bold {
  font-weight: bold;
}

.horiz-scroll {
  overflow-x: scroll
}

/* ----------- Phones ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 4) {
}

/* Portrait */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 4)
and (orientation: portrait) {
}

/* Landscape */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 4)
and (orientation: landscape) {
}

/* Laptops */
/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 834px)
and (max-device-width: 1112px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 834px)
and (max-device-width: 834px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 1112px)
and (max-device-width: 1112px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {

}

