<div class="row">
  <mat-card>
    <mat-card-header style="background-color: blue">
      <h1 class="card-title" style="color:white">Welcome to the home of Roadkill FC</h1>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="float-start">
          <img class="med float-start" src="assets/RoadkillIndoorPic.jpeg" width="400" height="500" alt="">
          <ul class="float-start">
            <li>We play in the Frederick County 7v7 Coed 35+ league</li>
            <li>Primary Jersey: Blue</li>
            <li>Alternate Jersey: White</li>
          </ul>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>


<!--<div>
  <div class="card">
    <div class="card-header" style="background-color: blue">
      <h5  class="card-title" style="color: white">Welcome to the home of Roadkill FC</h5>
    </div>
    <div class="card-body">
      <img class="med" src="assets/RoadkillIndoorPic.jpeg" width="400" height="500">
    </div>
    <div class="row">
      <div class="card-text">
        <ul>
          <li>We play in the Frederick County 7v7 Coed 35+ league</li>
          <li>Primary Jersey: Blue</li>
          <li>Alternate Jersey: White</li>
        </ul>
      </div>
    </div>
  </div>
</div>-->

