<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="main-div">
  <mat-card class="col-10">
    <mat-card-header style="background-color: blue">
      <h1 class="card-title" style="color:white">Welcome to the home of Roadkill FC</h1>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="float-start">
          <img class="med float-start" src="assets/RoadkillIndoorPic.jpeg" width="380" height="500" alt="">
          <ul class="float-start">
            <li>We play on Friday nights in the Frederick County 7v7 Coed 35+ league at <a href="https://www.recreater.com/276/Utica-District-Park">Utica Park</a> Fields: 6A/B & 7A/B</li>
            <li>7v7 format</li>
            <li>25 Minute halves</li>
            <li>Pitch is 60x40</li>
            <li>Goals are 8x21'</li>
            <li>No offside rule</li>
            <li>No slide tackling</li>
            <br>
            <li>Primary Jersey: Blue</li>
            <li>Alternate Jersey: White</li>
          </ul>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!--ALL Teams-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--<div class="main-div">-->
<!--  <mat-card class="col-10">-->
<!--    <mat-card-header style="background-color: blue">-->
<!--      <h1 class="card-title" style="color:white">Frederick County 35+ Coed Soccer League</h1>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      <div class="row">-->
<!--        <div class="float-start">-->
<!--          <img class="med float-start" src="assets/RoadkillIndoorPic.jpeg" width="380" height="500" alt="">-->
<!--          <ul class="float-start">-->
<!--            <li>We play on Friday nights at <a href="https://www.recreater.com/276/Utica-District-Park">Utica Park</a></li>-->
<!--            <li>Fields: 6A/B & 7A/B</li>-->
<!--            <li>7v7 format</li>-->
<!--            <li>25 Minute halves</li>-->
<!--            <li>Pitch is 60x40</li>-->
<!--            <li>Goals are 8x21'</li>-->
<!--            <li>No offside rule</li>-->
<!--            <li>No slide tackling</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->
