<!--Roadkill-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" xmlns="http://www.w3.org/1999/html"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="main-div">
  <mat-card class="col-10">
    <mat-card-header style="background-color: darkblue">
      <h1 class="card-title" style="color:white">Welcome to the home of Roadkill FC</h1>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="float-start">
          <img class="med float-start" src="assets/RoadkillIndoorPic.jpeg" width="380" height="500" alt="">
          <ul class="float-start">
            <li>
              <span class="material-icons" style="font-size: 14px; color: blue">sports_soccer</span>
              <span> We play on Friday nights in the Frederick County 7v7 Coed 35+ league at <a href="https://www.recreater.com/276/Utica-District-Park">Utica Park</a>.</span>
            </li>
            <li>
              <span class="material-icons" style="font-size: 14px; color: blue">sports_soccer</span>
              <span> Synthetic Turf Fields: 6A/B & 7A/B</span>
            </li>
            <li>
              <span class="material-icons" style="font-size: 14px; color: blue">sports_soccer</span>
              <span> 7v7 format</span>
            </li>
            <li>
              <span class="material-icons" style="font-size: 14px; color: blue">sports_soccer</span>
              <span> 25 Minute halves</span>
            </li>
            <li>
              <span class="material-icons" style="font-size: 14px; color: blue">sports_soccer</span>
              <span> Pitch is 60x40</span>
            </li>
            <li>
              <span class="material-icons" style="font-size: 14px; color: blue">sports_soccer</span>
              <span> Goals are 8x21'</span>
            </li>
            <li>
              <span class="material-icons" style="font-size: 14px; color: blue">sports_soccer</span>
              <span> No offside rule</span>
            </li>
            <li>
              <span class="material-icons" style="font-size: 14px; color: blue">sports_soccer</span>
              <span> No slide tackling</span>
            </li>
            <br>
            <li>
              <span class="material-icons" style="font-size: 14px; color: blue">sports_soccer</span>
              <span class="me-3"> Primary Jersey: Blue</span>
              <span style="background-color: darkblue; height: 5px; padding: 0px 10px 0px 10px;border: 1px solid darkblue;"></span>
            </li>
            <li>
              <span class="material-icons" style="font-size: 14px; color: blue">sports_soccer</span>
              <span class="me-2"> Second Jersey: White</span>
              <span style="background-color: white; height: 5px; padding: 0px 10px 0px 10px;border: 1px solid darkblue;"></span>
            </li>
<!--            <li>25 Minute halves</li>-->
<!--            <li>Goals are 8x21'</li>-->
<!--            <li>No offside rule</li>-->
<!--            <li>No slide tackling</li>-->
<!--            <br>-->
<!--            <li>Primary Jersey: Blue</li>-->
<!--            <li>Alternate Jersey: White</li>-->
          </ul>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!--&lt;!&ndash;ALL Teams&ndash;&gt;-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--<div class="main-div">-->
<!--  <mat-card class="col-10">-->
<!--    <mat-card-header style="background-color: darkgreen">-->
<!--      <h1 class="card-title" style="color:white">Frederick County 35+ Coed Soccer League</h1>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      <div class="row">-->
<!--        <div class="float-start">-->
<!--          <img class="float-start center-fit" src="assets/Utica.jfif" width="800" height="500" alt="">-->
<!--          <ul class="float-start">-->
<!--            <li>-->
<!--              <span class="material-icons" style="font-size: 14px; color: darkgreen">sports_soccer</span>-->
<!--              <span> Friday nights at <a href="https://www.recreater.com/276/Utica-District-Park">Utica Park</a></span>-->
<!--            </li>-->
<!--            <li>-->
<!--              <span class="material-icons" style="font-size: 14px; color: darkgreen">sports_soccer</span>-->
<!--              <span> Synthetic Turf Fields: 6A/B & 7A/B</span>-->
<!--            </li>-->
<!--            <li>-->
<!--              <span class="material-icons" style="font-size: 14px; color: darkgreen">sports_soccer</span>-->
<!--              <span> 7v7 format</span>-->
<!--            </li>-->
<!--            <li>-->
<!--              <span class="material-icons" style="font-size: 14px; color: darkgreen">sports_soccer</span>-->
<!--              <span> 25 Minute halves</span>-->
<!--            </li>-->
<!--            <li>-->
<!--              <span class="material-icons" style="font-size: 14px; color: darkgreen">sports_soccer</span>-->
<!--              <span> Pitch is 60x40</span>-->
<!--            </li>-->
<!--            <li>-->
<!--              <span class="material-icons" style="font-size: 14px; color: darkgreen">sports_soccer</span>-->
<!--              <span> Goals are 8x21'</span>-->
<!--            </li>-->
<!--            <li>-->
<!--              <span class="material-icons" style="font-size: 14px; color: darkgreen">sports_soccer</span>-->
<!--              <span> No offside rule</span>-->
<!--            </li>-->
<!--            <li>-->
<!--              <span class="material-icons" style="font-size: 14px; color: darkgreen">sports_soccer</span>-->
<!--              <span> No slide tackling</span>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->
